.plane {
  width: 1366px;
  height: 1366px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border: 1px solid black;
}

.plane .quadrant {
  outline: 1px solid #ccc;
  display: flex;
  margin: 20px;
  flex-basis: calc(50% - 40px);
  justify-content: center;
  flex-direction: column;
}

path {
  stroke: #ddd;
}

.plane .quadrant, .title {

}
