body {
  background: #fafafa;
  margin: auto;
}

.radar-title {
  display: flex;
  font-family: Inter, Noto Sans SC, sans-serif;
  font-size: 35px;
  margin: 0 0 50px 0;
  font-weight: bold;
}

.page {
  padding: 50px 75px;
  background: #fff;
  width: 1240px;
  height: 1754px;
  margin: auto;
  border: 1px solid #999999;
}

.section {
  display: flex;
  flex-direction: row;
  height: 100%;

  .quad-index {
    width: 50%;

    .quad-title {
      background: #ddd;
      padding: 20px 30px;
      text-transform: capitalize;
      font-weight: bold;
    }

    .ring-title {
      display: flex;
      padding: 20px 30px;
    }
  }
}

.plane {
  align-self: center;

  .quadrant {
    margin: 20px;

    .title {
      text-transform: capitalize;
      font-weight: bold;
      font-size: 20px;
    }
  }
}

path {
  stroke: #999;
}

.ring-title {
  text-transform: capitalize;
  font-weight: bold;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  padding: 5px;
  border: 3px;
  pointer-events: none;
  opacity: 0;
  background-color: #333;
  border-radius: 5px;
  color: #fff;
  font-family: Inter, Noto Sans SC, sans-serif;
  font-size: 13px;

  &:after {
    content: '';
    position: absolute;
    left: 43%;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #333;
    clear: both;
  }
}

.blip {
  cursor: pointer;
}